In [2]:
# Run this cell to set up the notebook, but please don't change it.
%matplotlib inline

# These lines import the Numpy and Datascience modules.
import numpy as np
from datascience import *

# These lines do some fancy plotting magic.
import matplotlib
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [3]:
arr_str = ["Mercedes", "BMW", "Audi","Ferrari","Ford"]
arr_num = {5,4,6,7,8}
np_arr_str = np.array(arr_str)
np_arr_num = np.array(arr_num)

In [4]:
print(f"Numpy array Cars {np_arr_str}")
print(f"Numpy array Cars {np_arr_str}")

Numpy array Cars ['Mercedes' 'BMW' 'Audi' 'Ferrari' 'Ford']
Numpy array Cars ['Mercedes' 'BMW' 'Audi' 'Ferrari' 'Ford']

In [5]:
print(f"Numpy array Cars {type(np_arr_str)}")
print(f"Numpy array Cars {type(np_arr_str)}")

Numpy array Cars <class 'numpy.ndarray'>
Numpy array Cars <class 'numpy.ndarray'>

In [6]:
matrix = np.array([[1,2,1],[4,5,6],[7,8,9]])

In [7]:
matrix

array([[1, 2, 1],
       [4, 5, 6],
       [7, 8, 9]])

In [8]:
# Numpy Functions
arr2 = np.arange(start = 0, stop = 10)

In [9]:
arr2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [10]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [11]:

matrix2 = np.linspace(0,5)

In [12]:
matrix2

array([ 0.        ,  0.10204082,  0.20408163,  0.30612245,  0.40816327,
        0.51020408,  0.6122449 ,  0.71428571,  0.81632653,  0.91836735,
        1.02040816,  1.12244898,  1.2244898 ,  1.32653061,  1.42857143,
        1.53061224,  1.63265306,  1.73469388,  1.83673469,  1.93877551,
        2.04081633,  2.14285714,  2.24489796,  2.34693878,  2.44897959,
        2.55102041,  2.65306122,  2.75510204,  2.85714286,  2.95918367,
        3.06122449,  3.16326531,  3.26530612,  3.36734694,  3.46938776,
        3.57142857,  3.67346939,  3.7755102 ,  3.87755102,  3.97959184,
        4.08163265,  4.18367347,  4.28571429,  4.3877551 ,  4.48979592,
        4.59183673,  4.69387755,  4.79591837,  4.89795918,  5.        ])

In [13]:
np.linspace(0,5,10)

array([ 0.        ,  0.55555556,  1.11111111,  1.66666667,  2.22222222,
        2.77777778,  3.33333333,  3.88888889,  4.44444444,  5.        ])

In [14]:
np.ones([3,5])

array([[ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.]])

In [15]:
np.eye(5)

array([[ 1.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  1.]])

In [16]:
arr4 = np.arange(0,10)

In [17]:
arr4

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [18]:
arr4_reshaped = arr4.reshape([2,5])
arr4_reshaped

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [19]:
print("Sins Function", np.sin(4))
print("Sins Function", np.cos(4))
print("Sins Function", np.tan(4))

Sins Function -0.756802495308
Sins Function -0.653643620864
Sins Function 1.15782128235

In [20]:
np.exp(2)
np.exp(3) # === e^3

20.085536923187668

In [21]:
arr=[2,4,6]
for i in arr:
    print(i**2)

4
16
36

In [22]:
np.exp(arr)

array([   7.3890561 ,   54.59815003,  403.42879349])

In [23]:
np.log(2)

0.69314718055994529

In [24]:
np.log10(10)

1.0

In [25]:
l1=[1,2,3]
l2=[4,5,6]
l3=l1+l2
l3

[1, 2, 3, 4, 5, 6]

In [26]:
type(l3)

list

In [27]:
arr6 = np.arange(1,6)
arr7 = np.arange(3,8)
print(arr6)
print(arr7)

[1 2 3 4 5]
[3 4 5 6 7]

In [28]:
print("Addition", arr6+arr7)
print("Subtraction", arr6-arr7)
print("Multiplication", arr6*arr7)
print("Division", arr6/arr7)

Addition [ 4  6  8 10 12]
Subtraction [-2 -2 -2 -2 -2]
Multiplication [ 3  8 15 24 35]
Division [ 0.33333333  0.5         0.6         0.66666667  0.71428571]

In [29]:
arr7 = np.arange(1,10).reshape(3,3)
arr7

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [30]:
matrix9 = np.arange(1,10).reshape(3,3)
print(matrix9)
matrix10 = np.arange(1,10).reshape(3,3)
print(matrix10)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [31]:
print("Multiplication\n",matrix9@matrix10)

Multiplication
 [[ 30  36  42]
 [ 66  81  96]
 [102 126 150]]

In [32]:
print(np.transpose(matrix9))
print(matrix9)

[[1 4 7]
 [2 5 8]
 [3 6 9]]
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [33]:
matrix9.T # another of way doing transpose

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [34]:
print("Minimum",np.min(matrix10))

Minimum 1

In [35]:
print("Minimum",np.max(matrix10))

Minimum 9

In [36]:
np.random.rand(5) # 5 random numbers from 0 to 1

array([ 0.00918242,  0.42696946,  0.98532406,  0.64676553,  0.8827408 ])

In [37]:
np.random.rand(10)

array([ 0.87910908,  0.43145321,  0.73049233,  0.03362836,  0.20449814,
        0.80817559,  0.13612481,  0.93412345,  0.41252899,  0.43665326])

In [38]:
np.random.rand(5,5)

array([[ 0.16814038,  0.02733879,  0.75862821,  0.58755599,  0.9055368 ],
       [ 0.77597715,  0.93728461,  0.28069993,  0.34883137,  0.24490836],
       [ 0.35607811,  0.43929769,  0.38065364,  0.72383122,  0.74634288],
       [ 0.45830556,  0.97428185,  0.34190262,  0.02149708,  0.26924933],
       [ 0.95179313,  0.96525549,  0.56255681,  0.33355167,  0.97986205]])

In [39]:
matrix9

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [40]:
print(matrix9>3)

[[False False False]
 [ True  True  True]
 [ True  True  True]]

In [41]:
matrix9[matrix9 > 3]

array([4, 5, 6, 7, 8, 9])

In [42]:
arr6

array([1, 2, 3, 4, 5])

In [43]:
arr6[1:3]

array([2, 3])

In [44]:
for i in range(len(arr6)):
    print(f"arr[{i}] = {arr6[i]}")
arr6[1:3]

arr[0] = 1
arr[1] = 2
arr[2] = 3
arr[3] = 4
arr[4] = 5

array([2, 3])

In [45]:
arr6[1:4]

array([2, 3, 4])

In [46]:
#pandas
import pandas as pd

In [47]:
#Pandas Series is a one dimensional labeled array capable of holding data of any type

In [48]:
med_price_list = [55,25,75,40,90]
med_price_arr = np.array(med_price_list)
med_price_arr

array([55, 25, 75, 40, 90])

In [49]:
series_list = pd.Series(med_price_arr)
series_list

0    55
1    25
2    75
3    40
4    90
dtype: int32

In [50]:
med_price_list_labeled = pd.Series(med_price_arr,index=["Om","Az","Ty","ib","Za"])
med_price_list_labeled

Om    55
Az    25
Ty    75
ib    40
Za    90
dtype: int32

In [51]:
med_price_list_labeled = med_price_list_labeled+2.5
med_price_list_labeled

Om    57.5
Az    27.5
Ty    77.5
ib    42.5
Za    92.5
dtype: float64

In [52]:
new_price_list=[77,45.5,100,50,80]
new_price_list_labeled = pd.Series(new_price_list, index=["Om","Az","Ty","ib","Za"])
new_price_list_labeled

Om     77.0
Az     45.5
Ty    100.0
ib     50.0
Za     80.0
dtype: float64

In [53]:
print(new_price_list_labeled- med_price_list_labeled)

Om    19.5
Az    18.0
Ty    22.5
ib     7.5
Za   -12.5
dtype: float64

In [54]:
students = ["Mary", "Peter", "Susan", "Toby", "John"]
df1 = pd.DataFrame(students, columns = ["Student"])
df1

  Student
0    Mary
1   Peter
2   Susan
3    Toby
4    John

In [55]:
grades = pd.Series(["D-", "A+", "A-", "B+", "C"])
df2 = pd.DataFrame({"Student": students, "Grade": grades})
df2

  Student Grade
0    Mary    D-
1   Peter    A+
2   Susan    A-
3    Toby    B+
4    John     C

In [56]:
year = pd.Series([2012,2013,2014,2015,2016,2017,2018])
pr1 = pd.DataFrame(year, columns=["Year"])
pr1

   Year
0  2012
1  2013
2  2014
3  2015
4  2016
5  2017
6  2018

In [57]:
Energy = pd.Series([2152,2196,2217,2194,2172,2180,2258])

In [58]:
df2 = pd.DataFrame({"Year": year, "Energy Consumption": Energy})
df2

   Year  Energy Consumption
0  2012                2152
1  2013                2196
2  2014                2217
3  2015                2194
4  2016                2172
5  2017                2180
6  2018                2258

In [59]:
np.random.randn(5,2)
df5 = pd.DataFrame(np.random.randn(5,2),columns=["Trail1","Trail2"])
df5

     Trail1    Trail2
0  0.772618 -1.142608
1  0.377463 -0.666042
2  1.898050  0.295884
3  0.302928 -0.541517
4 -0.016462  1.086746

In [60]:
# creating the dataframe using dictionary
store_data = pd.DataFrame({'CustomerID': ['CustID00','CustID01','CustID02','CustID03','CustID04']
                           ,'location': ['Chicago', 'Boston', 'Seattle', 'San Francisco', 'Austin']
                           ,'gender': ['M','M','F','M','F']
                           ,'type': ['Electronics','Food&Beverages','Food&Beverages','Medicine','Beauty']
                           ,'quantity':[1,3,4,2,1],'total_bill':[100,75,125,50,80]})

store_data

  CustomerID       location gender            type  quantity  total_bill
0   CustID00        Chicago      M     Electronics         1         100
1   CustID01         Boston      M  Food&Beverages         3          75
2   CustID02        Seattle      F  Food&Beverages         4         125
3   CustID03  San Francisco      M        Medicine         2          50
4   CustID04         Austin      F          Beauty         1          80

In [61]:
store_data[:-1]

  CustomerID       location gender            type  quantity  total_bill
0   CustID00        Chicago      M     Electronics         1         100
1   CustID01         Boston      M  Food&Beverages         3          75
2   CustID02        Seattle      F  Food&Beverages         4         125
3   CustID03  San Francisco      M        Medicine         2          50

In [62]:
store_data[:1]

  CustomerID location gender         type  quantity  total_bill
0   CustID00  Chicago      M  Electronics         1         100

In [63]:
store_data["location"]

0          Chicago
1           Boston
2          Seattle
3    San Francisco
4           Austin
Name: location, dtype: object

In [64]:
store_data[::2]

  CustomerID location gender            type  quantity  total_bill
0   CustID00  Chicago      M     Electronics         1         100
2   CustID02  Seattle      F  Food&Beverages         4         125
4   CustID04   Austin      F          Beauty         1          80

In [65]:
store_data[::-2]

  CustomerID location gender            type  quantity  total_bill
4   CustID04   Austin      F          Beauty         1          80
2   CustID02  Seattle      F  Food&Beverages         4         125
0   CustID00  Chicago      M     Electronics         1         100

In [66]:
#LOC and Iloc
# Loc is a method to access rows and column on pandas objects. 
# Whne using loc method on dataframe, we specify which rows and which col we want by the following format :
# dataframe.loc[row selection, col selection]
# It is a method that takes index labels and return row or dataframe if the index label exists

In [67]:
store_data.loc[1]

CustomerID          CustID01
location              Boston
gender                     M
type          Food&Beverages
quantity                   3
total_bill                75
Name: 1, dtype: object

In [71]:
r = Table().read_table(".csv\du_bois.csv")
r.show()