In [3]:
# Run this cell, but please don't change it.

# These lines import the Numpy and Datascience modules.
import numpy as np
from datascience import *

# These lines do some fancy plotting magic
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [5]:
table = Table().with_columns({
    "Color": ["Dark", "Milk", "White", "Dark", "Milk", "Milk"],
    "Shape": ["Round", "Rectangle", "Rectangle", "Round", "Rectangle", "Round"],
    "Amount": [4, 6, 12, 7, 9, 2],
    "Price ($)":[1.30, 1.20, 2.00, 1.75, 1.40, 1.00]
})
table.show()

In [23]:
table.group("Shape")

Shape     | count
Rectangle | 3
Round     | 3

In [10]:
table.group("Shape",max)

Shape     | Color max | Amount max | Price ($) max
Rectangle | White     | 12         | 2
Round     | Milk      | 7          | 1.75

In [12]:
table.group(["Shape", "Color"], max)

Shape     | Color | Amount max | Price ($) max
Rectangle | Milk  | 9          | 1.4
Rectangle | White | 12         | 2
Round     | Dark  | 7          | 1.75
Round     | Milk  | 2          | 1

In [15]:
table.pivot("Color", "Shape", "Price ($)", max)

Shape     | Dark | Milk | White
Rectangle | 0    | 1.4  | 2
Round     | 1.75 | 1    | 0

In [24]:
nutrition = Table().with_columns({
    "Type": ["Dark", "Milk", "White", "Ruby"],
    "Calories": [120, 130, 115, 120]
})

In [25]:
table.join("Color", nutrition,"Type")

Color | Shape     | Amount | Price ($) | Calories
Dark  | Round     | 4      | 1.3       | 120
Dark  | Round     | 7      | 1.75      | 120
Milk  | Rectangle | 6      | 1.2       | 130
Milk  | Rectangle | 9      | 1.4       | 130
Milk  | Round     | 2      | 1         | 130
White | Rectangle | 12     | 2         | 115

In [26]:
table.group(["Shape", "Color"])

Shape     | Color | count
Rectangle | Milk  | 2
Rectangle | White | 1
Round     | Dark  | 2
Round     | Milk  | 1