In [6]:
from datascience import *

In [7]:
table = Table()

In [8]:
table = Table().with_columns('Auction_ID',[1,2,3], 'item',['Jacket','Smartwatch','Tablet'],'Opening_bid',[50,150,350],'Closing_Price',[75,150,600])

In [9]:
table.show(3)

In [10]:
table.column('Opening_bid')

array([ 50, 150, 350])

In [11]:
table.select('Opening_bid')

Opening_bid
50
150
350

In [12]:
subtract = table.column('Closing_Price') - table.column('Opening_bid')


subtract

array([ 25,   0, 250])

In [13]:
table = table.with_column("Profit", subtract)

In [14]:
table.show()

In [15]:
print("hi")

hi

In [16]:
only_jacket = table.select('Jacket')
only_jacket_under = only_jacket.where()

# Create the table with specified columns and data
nova = Table().with_columns(
    'Release Date', ['3/7/2016', '22/3/2013', '14/2/2007', '1/1/2011'],
    'Title', ['Supernova in the East IV', 'King of Kings III', 'Prophets of Doom', 'Death Throes of the Republic V'],
    'Description', [
        'Coral Sea, Midway and Guadalcanal are three of the most...',
        'Xerxes, Spartans, Immortals, Alexander the Great…',
        'Millennial preachers take over the German city of Munster...',
        'The last great generation of the Roman…'
    ],
    'Era', ['Modern', 'Ancient', 'Early Modern', 'Ancient'],
    'Series', ['Yes', 'Yes', 'No', 'Yes'],
    'Downloads', [1000, 2000, 1500, 1200]  # Placeholder values for downloads
)

# Display the table
nova.show()

ValueError: The column "Jacket" is not in the table. The table contains these columns: Auction_ID, item, Opening_bid, Closing_Price, Profit