In [2]:
from datascience import *

In [3]:
table = Table()

In [4]:
table = Table().with_columns('Auction_ID',[1,2,3], 'item',['Jacket','Smartwatch','Tablet'],'Opening_bid',[50,150,350],'Closing_Price',[75,150,600])

In [7]:
table.show(3)

In [8]:
table.column('Opening_bid')

array([ 50, 150, 350])

In [9]:
table.select('Opening_bid')

Opening_bid
50
150
350

In [10]:
subtract = table.column('Closing_Price') - table.column('Opening_bid')


subtract

array([ 25,   0, 250])

In [11]:
table = table.with_column("Profit", subtract)

In [12]:
table.show()

In [13]:
print("hi")

hi