In [1]:
"""
1 Sample: One Category (e.g percent of flowers that are purple)
Test Statistic: observed_proportion, abs(observed_proportion - null_proportion)

1 Sample: More Than 2 Categories (e.g ethnicity distribution of jury panel)
Test Statistic: TVD(observed


Causality in data science refers to the relationship between cause and effect, where changes in one variable directly result in changes 
in another variable

Causality experiment:

Experimental setup: Random sleect a group of studetns and devide them into two troups. SImilar in academic background.
Treatemtn: Group A study 5 hours while Group B maintains thier regular study routine
Measurment: administer the same exam in both groups
Analysis: Compare the average exam scores
Conclusionn: Group A performed signifcantly better



correlation: when two variables change together



"""

'\n1 Sample: One Category (e.g percent of flowers that are purple)\nTest Statistic: observed_proportion, abs(observed_proportion - null_proportion)\n\n1 Sample: More Than 2 Categories (e.g ethnicity distribution of jury panel)\nTest Statistic: TVD(observed\n\n\nCausality in data science refers to the relationship between cause and effect, where changes in one variable directly result in changes \nin another variable\n\nCausality experiment:\n\nExperimental setup: Random sleect a group of studetns and devide them into two troups. SImilar in academic background.\nTreatemtn: Group A study 5 hours while Group B maintains thier regular study routine\nMeasurment: administer the same exam in both groups\nAnalysis: Compare the average exam scores\nConclusionn: Group A performed signifcantly better\n\n\n\ncorrelation: when two variables change together\n\n\n\n'

In [6]:
import numpy as np
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
import matplotlib.pyplot as plots
from datascience import *
plots.style.use("fivethirtyeight")
plots.rcParams["patch.force_edgecolor"]=True

In [8]:
bta = Table().read_table(".csv/bta.csv")
bta.show(10)

In [10]:
births = Table().read_table(".csv/baby.csv")
births.show(10)

In [12]:
smoking_and_birthweight = births.select("Maternal Smoker", "Birth Weight")
smoking_and_birthweight.show(5)

In [14]:
means_table = smoking_and_birthweight.group("Maternal Smoker", np.mean)
means_table.show()

In [16]:
means = means_table.column(1)
means

array([ 123.08531469,  113.81917211])

In [18]:
observed_difference = means.item(1) - means.item(0)
observed_difference

-9.266142572024918

In [45]:
def difference_of_means(table, label, group_label):
    reduced = table.select(label, group_label)
    reduceds = reduced.group(group_label, np.mean)
    mean = reduceds.column(1)
    return mean.item(1) - mean.item(0)
shuffled_control = smoking_and_birthweight.sample(with_replacement = False).column("Maternal Smoker")
shuffled_control

array([ True, False, False, ...,  True, False,  True], dtype=bool)

In [46]:
original_shuffled = smoking_and_birthweight.with_column("Shuffled", shuffled_control)

In [47]:
original_shuffled

Maternal Smoker | Birth Weight | Shuffled
False           | 120          | True
False           | 113          | False
True            | 128          | False
True            | 108          | False
False           | 136          | True
False           | 138          | False
False           | 132          | True
False           | 120          | True
True            | 143          | False
False           | 140          | False
... (1164 rows omitted)

In [51]:
difference_of_means(original_shuffled, "Birth Weight", "Shuffled")

1.0