In [4]:
from datascience import *

In [3]:
print("hi")

hi

In [5]:
cones = Table.read_table('cones.csv')

In [6]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [9]:
cones.select('Flavor', 'Color')

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [10]:
cones.select('Price')

Price
3.55
4.75
5.25
5.25
5.25
4.75

In [11]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [13]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [14]:
cones.where('Flavor', 'strawberry')

Flavor     | Color | Price
strawberry | pink  | 3.55
strawberry | pink  | 5.25

In [15]:
cones.where('Color', 'pink')

Flavor     | Color | Price
strawberry | pink  | 3.55
strawberry | pink  | 5.25
bubblegum  | pink  | 4.75

In [16]:
cones.sort("Price")

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25

In [17]:
cones.show()

In [20]:
nba_salaries = Table.read_table("nba_salaries.csv")

In [21]:
nba_salaries

rank | name             | position | team                   | salary   | season
1    | Shaquille O'Neal | C        | Los Angeles Lakers     | 17142000 | 2000
2    | Kevin Garnett    | PF       | Minnesota Timberwolves | 16806000 | 2000
3    | Alonzo Mourning  | C        | Miami Heat             | 15004000 | 2000
4    | Juwan Howard     | PF       | Washington Wizards     | 15000000 | 2000
5    | Scottie Pippen   | SF       | Portland Trail Blazers | 14795000 | 2000
6    | Karl Malone      | PF       | Utah Jazz              | 14000000 | 2000
7    | Larry Johnson    | F        | New York Knicks        | 11910000 | 2000
8    | Gary Payton      | PG       | Seattle SuperSonics    | 11020000 | 2000
9    | Rasheed Wallace  | PF       | Portland Trail Blazers | 10800000 | 2000
10   | Shawn Kemp       | C        | Cleveland Cavaliers    | 10780000 | 2000
... (9446 rows omitted)

In [1]:
nba_salaries.show(5)

NameError: name 'nba_salaries' is not defined

In [24]:
nba_salaries.select('name', "Shaquille O'Neal")

ValueError: The column "Shaquille O'Neal" is not in the table. The table contains these columns: rank, name, position, team, salary, season

In [26]:
nba_salaries.sort('name')

rank | name        | position | team               | salary  | season
180  | A.C. Green  | F        | Miami Heat         | 2250000 | 2001
355  | A.J. Guyton | G        | Chicago Bulls      | 316000  | 2001
384  | A.J. Guyton | G        | Chicago Bulls      | 465000  | 2002
441  | A.J. Price  | PG       | Indiana Pacers     | 457588  | 2010
444  | A.J. Price  | PG       | Indiana Pacers     | 762195  | 2011
414  | A.J. Price  | PG       | Indiana Pacers     | 854389  | 2012
445  | A.J. Price  | PG       | Washington Wizards | 854389  | 2013
522  | A.J. Price  | PG       | Phoenix Suns       | 53838   | 2015
477  | AJ Hammons  | C        | Dallas Mavericks   | 650000  | 2017
418  | AJ Hammons  | C        | Miami Heat         | 1312611 | 2018
... (9446 rows omitted)

In [28]:
nba_salaries.where('name', 'A.C. Green')

rank | name       | position | team       | salary  | season
180  | A.C. Green | F        | Miami Heat | 2250000 | 2001

In [29]:
nba_salaries.where("position", "PG")

rank | name             | position | team                   | salary   | season
8    | Gary Payton      | PG       | Seattle SuperSonics    | 11020000 | 2000
11   | Damon Stoudamire | PG       | Portland Trail Blazers | 10125000 | 2000
20   | Stephon Marbury  | PG       | New Jersey Nets        | 9000000  | 2000
24   | Nick Van Exel    | PG       | Denver Nuggets         | 8354000  | 2000
26   | Terrell Brandon  | PG       | Minnesota Timberwolves | 7400000  | 2000
34   | Jason Kidd       | PG       | Phoenix Suns           | 6858000  | 2000
35   | Kenny Anderson   | PG       | Boston Celtics         | 6680000  | 2000
39   | Steve Nash       | PG       | Dallas Mavericks       | 5500000  | 2000
55   | Charlie Ward     | PG       | New York Knicks        | 4540000  | 2000
61   | Darrel Armstrong | PG       | Orlando Magic          | 4125000  | 2000
... (1465 rows omitted)

In [30]:
nba_salaries.sort("salary")

rank | name             | position | team                   | salary | season
481  | Tony Gaffney     | SF       | Memphis Grizzlies      | 2692   | 2010
482  | Oliver Lafayette | G        | Boston Celtics         | 2692   | 2010
490  | Linton Johnson   | PF       | Toronto Raptors        | 4533   | 2008
491  | Billy Thomas     | SG       | New Jersey Nets        | 4533   | 2008
597  | Amile Jefferson  | PF       | Orlando Magic          | 4608   | 2018
598  | Aaron Jackson    | F        | Houston Rockets        | 4608   | 2018
502  | Theo Pinson      | SG       | Brooklyn Nets          | 4737   | 2019
503  | Kendrick Nunn    | SG       | Miami Heat             | 4737   | 2019
480  | Greg Stiemsma    | C        | Portland Trail Blazers | 5383   | 2010
594  | Dahntay Jones    | SG       | Cleveland Cavaliers    | 5767   | 2017
... (9446 rows omitted)

In [31]:
nba_salaries.sort("salary", descending=True)

rank | name              | position | team                  | salary   | season
1    | Stephen Curry     | PG       | Golden State Warriors | 40231758 | 2020
2    | Chris Paul        | PG       | Oklahoma City Thunder | 38506482 | 2020
3    | Russell Westbrook | PG       | Houston Rockets       | 38506482 | 2020
4    | John Wall         | PG       | Washington Wizards    | 38199000 | 2020
5    | Kevin Durant      | SF       | Brooklyn Nets         | 38199000 | 2020
6    | James Harden      | SG       | Houston Rockets       | 38199000 | 2020
1    | Stephen Curry     | PG       | Golden State Warriors | 37457154 | 2018
1    | Stephen Curry     | PG       | Golden State Warriors | 37457154 | 2019
7    | LeBron James      | SF       | Los Angeles Lakers    | 37436858 | 2020
2    | Chris Paul        | PG       | Houston Rockets       | 35654150 | 2019
... (9446 rows omitted)

In [36]:
nba_salaries.where("position", "PG").where("season", 2019)

rank | name              | position | team                   | salary   | season
1    | Stephen Curry     | PG       | Golden State Warriors  | 37457154 | 2019
2    | Chris Paul        | PG       | Houston Rockets        | 35654150 | 2019
4    | Russell Westbrook | PG       | Oklahoma City Thunder  | 35654150 | 2019
7    | Kyle Lowry        | PG       | Toronto Raptors        | 31200000 | 2019
9    | Mike Conley       | PG       | Memphis Grizzlies      | 30521115 | 2019
14   | Damian Lillard    | PG       | Portland Trail Blazers | 27977689 | 2019
43   | Kyrie Irving      | PG       | Boston Celtics         | 20099189 | 2019
45   | Zach LaVine       | PG       | Chicago Bulls          | 19500000 | 2019
48   | John Wall         | PG       | Washington Wizards     | 19169800 | 2019
49   | George Hill       | PG       | Milwaukee Bucks        | 19000000 | 2019
... (65 rows omitted)

In [39]:
type(nba_salaries['position'])

numpy.ndarray

In [40]:
maxSalary = max(nba_salaries['salary'])

In [41]:
maxSalary

40231758

In [42]:
nba_salaries.where('salary', maxSalary)

rank | name          | position | team                  | salary   | season
1    | Stephen Curry | PG       | Golden State Warriors | 40231758 | 2020

In [43]:
minSalary = min(nba_salaries['salary'])

In [44]:
nba_salaries.where('salary', minSalary)

rank | name             | position | team              | salary | season
481  | Tony Gaffney     | SF       | Memphis Grizzlies | 2692   | 2010
482  | Oliver Lafayette | G        | Boston Celtics    | 2692   | 2010

In [49]:
warriors = nba_salaries.where("team", "Golden State Warriors")

In [50]:
warriors

rank | name              | position | team                  | salary  | season
41   | Donyell Marshall  | PF       | Golden State Warriors | 5250000 | 2000
47   | Erick Dampier     | C        | Golden State Warriors | 4988000 | 2000
58   | Mookie Blaylock   | G        | Golden State Warriors | 4200000 | 2000
59   | Chris Mills       | SF       | Golden State Warriors | 4200000 | 2000
64   | Jason Caffey      | F        | Golden State Warriors | 3937000 | 2000
89   | Vonteego Cummings | PG       | Golden State Warriors | 2600000 | 2000
92   | Antawn Jamison    | PF       | Golden State Warriors | 2503000 | 2000
73   | Erick Dampier     | C        | Golden State Warriors | 5611000 | 2001
91   | Mookie Blaylock   | G        | Golden State Warriors | 4800000 | 2001
92   | Chris Mills       | SF       | Golden State Warriors | 4800000 | 2001
... (301 rows omitted)

In [51]:
warriorsmax = max(warriors['salary'])

In [52]:
warriorsmax

40231758

In [53]:
warriorsmin = min(warriors['salary'])

In [54]:
warriorsmin

17328

In [55]:
import numpy as np

In [56]:
n1 = make_array(1,2,3,4)

In [57]:
n1

array([1, 2, 3, 4], dtype=int64)

In [59]:
n2 = make_array(5,6,7,8)

In [62]:
n1/2

array([ 0.5,  1. ,  1.5,  2. ])

In [61]:
n1

array([1, 2, 3, 4], dtype=int64)

In [63]:
n1+n2

array([ 6,  8, 10, 12], dtype=int64)

In [64]:
n3 = list(n1)

In [65]:
n3

[1, 2, 3, 4]

In [66]:
"straw"*2

'strawstraw'

In [67]:
"straw"+str(2)

'straw2'

In [68]:
warriors.column('salary')

array([ 5250000,  4988000,  4200000,  4200000,  3937000,  2600000,
        2503000,  5611000,  4800000,  4800000,  4386000,  3578000,
        3390000,  2678000,  1842000,   757000,   316000,   316000,
         241000,    32000,  6235000,  5400000,  5400000,  4913000,
        4441000,  4400000,  3388000,  3000000,  2343000,  2021000,
        1310000,   333000,   333000,  6858000,  6000000,  5540000,
        4935000,  4469000,  4400000,  1409000,   700000,   512000,
       10912000,  7482000,  5445000,  4400000,  1667000,  1507000,
        3000000,  2481000,  2390000,  2232000, 13700000,  8888888,
        7365079,  7312500,  5393300,  4506261,  1988160,  1910520,
        1857360,  1760000,  1404360,   448762,   423762, 15070000,
        9999999,  8125000,  2535260,  2157097,  2061720,  1986960,
         798112,   744551,   664209,   259770, 16440000,  8425625,
        6630000,  4000000,  3470771,  3000000,  2636696,  2323080,
        2216400,  1800000,  1345800,   770610,   770610,   687456,
         358107,   251272, 11000000,  9000000,  8275862,  7140000,
        4500000,  2900000,  2497320,  1709280,  1634000,  1446720,
        1262520,   797581,   711517,   711517,   442114,   442114,
         442114,   422725, 11000000,  9000000,  8937931,  4140000,
        3100000,  2710560,  1837560,  1600000,  1000497,   855189,
         825497,   825497,   736420,   632455,   118435,    17328,
       11000000, 10800000,  9000000,  6883800,  4447792,  3540000,
        3065040,  2913840,  2225000,  1254720,   855189,   854389,
         825497,   825497,   762195,   762195,   473604,   133723,
       11610000,  9000000,  6750000,  4099920,  3823000,  3117120,
        2956658,  2126520,  1027424,   855189,   854389,   854389,
         854389,   825497,   785487,   650000,   633253,   473604,
         473604,   211084,    75793, 13000000, 12744000, 10164000,
        9000000,  5400000,  4099920,  4000000,  4000000,  3958742,
        2798040,  2222160,  1020960,   884293,   854389,   854389,
         854389,   850000,   825497,   762195,   633253,   473604,
         211084,    75793, 14000000, 13878000, 12868632,  9887642,
        3500000,  2923920,  2317920,  2162419,  2000000,  1056720,
         875500,   660619,   490180, 15012000, 12972973, 12289544,
       10629213,  5305000,  3657500,  3075880,  3049920,  1145685,
        1145685,  1112880,  1104240,   915243,   915243,   816482,
         816482,   816482,   167122, 15501000, 14260870, 13800000,
       11710456, 11370786,  5543725,  3873398,  3815000,  2500000,
        2008748,  1270964,  1131960,   947276,   947276,   845059,
         289755, 26540100, 16663575, 15330435, 12112359, 11131368,
        5782450,  2898000,  1403611,  1182840,  1171560,   980431,
         980431,   980431,   980431,   980431,   980431,   980431,
         543471,   543471,   543471,   543471,   543471, 37457154,
       17826150, 17469565, 14814815,  7692308,  5192000,  3477600,
        1544951,  1471382,  1471382,  1471382,  1471382,  1378242,
        1312611,  1312611,  1312611,  1312611,   980431,   980431,
         980431,   980431,   815615,   543471,   543471,   543471,
         543471, 37457154, 30000000, 18988725, 17469565, 16000000,
        8307692,  5337000,  1644240,  1544951,  1544951,  1512601,
        1512601,  1378242,  1349383,   307648, 40231758, 32742000,
       18539130,  4464226,  2177483,  1964760,  1897800,   898310,
         898310,   842327,   654469,   350189,   350189])

In [70]:
len(warriors.column('salary'))

311

In [73]:
np.average(warriors.column('salary'))

4315935.9228295824

In [76]:
phionix = nba_salaries.where('team', 'Phoenix Suns')

In [77]:
np.average(phionix.column('salary'))

4177009.1084337351

In [78]:
np.average(nba_salaries.where('team', 'Phoenix Suns').column('salary'))

4177009.1084337351

In [1]:
nba_salaries.show(5)

NameError: name 'nba_salaries' is not defined

In [80]:
np.average(nba_salaries.where('team', 'Los Angeles Lakers').column('salary'))

5155791.9512987016

In [90]:
def avTeamSalary(team):
    return np.average(nba_salaries.where('team', team).column('salary'))
def avSalary():
    return np.average(nba_salaries['salary'])
def highSalary():
    return max(nba_salaries['salary'])
def minSalary():
    return min(nba_salaries['salary'])
def highSalaryTeam(team):
     return max(nba_salaries.where('team', team).column('salary'))
def minSalaryTeam(team):
     return min(nba_salaries.where('team', team).column('salary'))

In [91]:
np.medium(nba_salaries.where('team', 'Los Angeles Lakers').column('salary'))

AttributeError: module 'numpy' has no attribute 'medium'