In [1]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")
import warnings
warnings.simplefilter(action = "ignore", category = np.VisibleDeprecationWarning)

In [7]:
full = Table().read_table("nc-est2019-agesex-res.csv")

In [8]:
full.show(5)

In [9]:
np.unique(full["SEX"])

array([0, 1, 2])

In [13]:
census = full.select("SEX","AGE","POPESTIMATE2019")
census

SEX  | AGE  | POPESTIMATE2019
0    | 0    | 3783052
0    | 1    | 3829599
0    | 2    | 3922044
0    | 3    | 3998665
0    | 4    | 4043323
0    | 5    | 4028281
0    | 6    | 4017227
0    | 7    | 4022319
0    | 8    | 4066194
0    | 9    | 4061874
... (296 rows omitted)

In [16]:
sex_codes = Table().with_columns("SEX_CODES", make_array(0,1,2), "CODE DEFINITION", make_array("ALL", "MALE", "FEMALE"))
sex_codes

SEX_CODES | CODE DEFINITION
0         | ALL
1         | MALE
2         | FEMALE

In [19]:
Gender = census.join("SEX", sex_codes, "SEX_CODES")
Gender

SEX  | AGE  | POPESTIMATE2019 | CODE DEFINITION
0    | 0    | 3783052         | ALL
0    | 1    | 3829599         | ALL
0    | 2    | 3922044         | ALL
0    | 3    | 3998665         | ALL
0    | 4    | 4043323         | ALL
0    | 5    | 4028281         | ALL
0    | 6    | 4017227         | ALL
0    | 7    | 4022319         | ALL
0    | 8    | 4066194         | ALL
0    | 9    | 4061874         | ALL
... (296 rows omitted)

In [22]:
Gender.where("CODE DEFINITION", "MALE").show(10)
Gender.where("CODE DEFINITION", "FEMALE").show(10)