In [1]:
%matplotlib inline
import numpy as np
from datascience import *
import matplotlib.pyplot as plots

In [2]:
incomes = Table.read_table(".csv/2022_female_actors.csv")

In [3]:
incomes.show()

In [4]:
incomes.num_rows

20

In [5]:
mybin = make_array(0,25,30,60)

In [6]:
incomes.hist("Income (millions)",bins=mybin)

In [7]:

incomes.hist("Income (millions)",bins = mybin)

In [8]:
print("Minimum income: " + str((min(incomes.column(1)))))

Minimum income: 12.5

In [9]:
mybin = make_array(min(incomes.column(1)),25,30,60)

In [10]:
incomes.hist("Income (millions)",bins = mybin)

In [11]:
incomes.hist("Income (millions)",bins = 10)

In [12]:
def add(x,y):
    return x+y
def sub(x,y):
    return x-y
def multiplication(x,y):
    return x*y
def division(x,y):
    return x/y
def modivison (x,y):
    return x % y == 2
def integerdivision(x,y):
    return x//y

In [17]:
def math():
    num1 = int(input("Enter number1: "))
    num2 = int(input("Enter number2: "))
    
    choice = int(input("Operation Type: Add(1), Subtract(2), multiplication(3), division(4), mod division(5), integer divsion(6)"))
    if choice == 1:
        print(f"Result: {num1} + {num2} = " + str(add(num1, num2)))
    elif choice == 2:
        print(f"Result: {num1} - {num2} = " + str(sub(num1, num2)))
    elif choice == 3:
        print(f"Result: {num1} * {num2} = " + str(multiplication(num1, num2)))
    elif choice == 4:
        print(f"Result: {num1} / {num2} = " + str(division(num1, num2)))
    elif choice == 5:
        print(f"Result: {num1} % {num2} = " + str(modivison(num1, num2)))
    elif choice == 6:
        print(f"Result: {num1} // {num2} = " + str(integerdivision(num1, num2)))
    else:
        print("Invalid choice") 
        math()
    cont = input("Do you want to continue(Yes or No)?")
    def contu(conts):
        if (conts == "Yes"):
            math()
        elif (conts == "No"):
            return
        else:
            cont = input("Do you want to continue(Yes or No)?")
            contu(cont)
    contu(cont)
    
math()

Enter number1:  2
Enter number2:  3
Operation Type: Add(1), Subtract(2), multiplication(3), division(4), mod division(5), integer divsion(6) 2

Result: 2 - 3 = -1

Do you want to continue(Yes or No)? Yes
Enter number1:  3
Enter number2:  2
Operation Type: Add(1), Subtract(2), multiplication(3), division(4), mod division(5), integer divsion(6) 3

Result: 3 * 2 = 6

Do you want to continue(Yes or No)? No

In [22]:
ages = Table().with_columns("Person", make_array("Geo", "Pam", "Anthony", "Creed"),"Birth Year",  make_array(1985, 1988, 1967, 1904))

In [23]:
ages

Person  | Birth Year
Geo     | 1985
Pam     | 1988
Anthony | 1967
Creed   | 1904

In [29]:
def age(m):
    return 2024 - m
def name_age(name, year):
    return name + " is " + str(age(year)) + " years old"
name_age("Bob", 1912)

'Bob is 112 years old'

In [25]:
ages.apply(name_age, "Birth Year")

array([ 39,  36,  57, 120], dtype=int64)

In [31]:
new_table = ages.with_column("Age", ages.apply(age, "Birth Year"))

In [32]:
new_table

Person  | Birth Year | Age
Geo     | 1985       | 39
Pam     | 1988       | 36
Anthony | 1967       | 57
Creed   | 1904       | 120