In [2]:
%matplotlib inline
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use("fivethirtyeight")
import warnings

In [33]:
drinks = Table(["Drink","Cafe","Price"])
drinks = drinks.with_rows([["Milk Tea", "Asha",5.5],["Espresso","Strada",1.75],["Latte","Strada",3.25],["Espresso", "FSM",2]])
drinks

Drink    | Cafe   | Price
Milk Tea | Asha   | 5.5
Espresso | Strada | 1.75
Latte    | Strada | 3.25
Espresso | FSM    | 2

In [37]:
discount = Table().with_columns("Coupon % off", make_array(10,25,5), "Location", make_array("Asha","Strada","Asha"))
discount

Coupon % off | Location
10           | Asha
25           | Strada
5            | Asha

In [38]:
combined = drinks.join("Cafe",discount,'Location')
combined

Cafe   | Drink    | Price | Coupon % off
Asha   | Milk Tea | 5.5   | 10
Asha   | Milk Tea | 5.5   | 5
Strada | Espresso | 1.75  | 25
Strada | Latte    | 3.25  | 25

In [39]:
combined

Cafe   | Drink    | Price | Coupon % off
Asha   | Milk Tea | 5.5   | 10
Asha   | Milk Tea | 5.5   | 5
Strada | Espresso | 1.75  | 25
Strada | Latte    | 3.25  | 25

In [40]:
discounted_frac = 1-combined.column("Coupon % off")/100

In [41]:
discounted_frac

array([ 0.9 ,  0.95,  0.75,  0.75])

In [42]:
combined_with_discount = combined.with_column("Discounted Price", combined.column("Price")*discounted_frac)

In [43]:
combined_with_discount

Cafe   | Drink    | Price | Coupon % off | Discounted Price
Asha   | Milk Tea | 5.5   | 10           | 4.95
Asha   | Milk Tea | 5.5   | 5            | 5.225
Strada | Espresso | 1.75  | 25           | 1.3125
Strada | Latte    | 3.25  | 25           | 2.4375